@mixin display-flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex($grow: 0, $shrink: 1, $basis: initial) {
  flex: $grow $shrink $basis;
}

.product-table {
  @include display-flex(column);
}

.table-header-row {
  @include display-flex(row);

  justify-content: space-around;
  padding: 5px;
}

.table-header-column {
  @include flex(1, 1, 100%);
}
