{
    "extends": "airbnb-base",
    "plugins": [
        "import",
        "react",
        "jsx-a11y"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
}